language: php

php:
  - "5.5"
  - "5.6"
  - "7.0"
  - "7.1"
  - hhvm

before_script:
  - composer install --prefer-dist --dev
  - phpenv rehash

script:
  - mkdir -p build/logs
  - phpunit --coverage-clover build/logs/clover.xml

notifications:
  email: false

matrix:
  allow_failures:
    - php: hhvm
